@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
    otf: "opentype",
    ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-weight: $weight;
    font-style: $style;

    font-display: block;
    src: $src;
  }
}

@include font-face('MontserratRegular', 'fonts/Montserrat-Regular', normal, normal, ttf);
@include font-face('MontserratMedium', 'fonts/Montserrat-Medium', normal, normal, ttf);
@include font-face('MontserratSemiBold', 'fonts/Montserrat-SemiBold', normal, normal, ttf);
@include font-face('MontserratBold', 'fonts/Montserrat-Bold', normal, normal, ttf);

* {
	margin: 0;
	padding: 0;
	font-family: MontserratMedium;
  body {
    width: 100%;
    display: flex;
    flex-direction: row;
    ul {
      list-style-type: none;
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
}

#left_section {
  min-width: 400px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F0F3F9;
  justify-content: center;
  .profile_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    .photo {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin-bottom: 20px;
    }
    .subject {
      text-align: center;
      margin: 10px 0;
      font-size: 20px;
    }
    .fio {
      text-align: center;
      margin: 10px 0;
    }
  }
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    .item {
      margin: 20px 0;
      &:hover {
        .sub_nav {
          display: flex;
        }
      }
      .link {
        font-size: 16px;
        font-family: MontserratBold;
        text-align: center;
        &:hover {
          color: #ff4e0c;
          svg {
            path {
              fill: #ff4e0c;
            }
          }
        }
      }
      .sub_nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        display: none;
        .sub_item {
          margin: 10px 0;
          font-size: 16px;
          .sub_link {
            font-size: 16px;
            font-family: MontserratBold;
            text-align: center;
            &:hover {
              color: #ff4e0c;
            }
          }
        }
      }
    }
  }
}

#right_section {
  box-shadow: 0px 0px 25px rgba(70, 79, 89, 0.1);
  background-color: white;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  #home, #about, #project_activities, #exams, #news {
    
  }
  #home {

  }
  #about {
    display: none;
  }
  #achievements {
    display: none;
  }
  #project_activities {
    display: none;
  }
  #exams {
    display: none;
  }
  #news {
    display: none;
  }
}

@media (max-width: 1200px) {
  body {
    flex-direction: column;
  }
}